
langchain
langgraph
tavily-python
langchain-pinecone
langchain-community
langchain-pinecone
langchain-google-genai
streamlit
fastapi[all]
langchain-tavily
uvicorn
langsmith
pydantic
python-dotenv
langchain_groq
pypdf
docx2txt

-e .